.movies-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.movies-list > .items {
  margin: auto;
}

.expanded-movie-item {
  display: flex;
  flex-direction: row;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item > .description {
  display: flex;
  flex-direction: column;
}

.movie-list-item {
  margin-bottom: 10px;
  transition: transform 450ms;
}

.movie-list-item:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.movie-list-item.selected {
  text-decoration: underline;
}
